<div class="all_users">
	<%= @user.each do |user| %>
	<div class="users">
		<h1><%= @user.first_name %></h1>
		<p><%= @user.last_name %></p>
		<a href="/profile/<%= user.id %>">Profile</a>
	</div>
	<%= end %>
</div>