<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 fullname"><%= @user.first_name %> <%= @user.last_name %></h1>
    <p class="lead">Welcome to my profile!</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/profile_picture_two.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= @user.first_name %> <%= @user.last_name %> </h5>
    <p class="card-text"> <%= @user.email %> </p>
  </div>
</div>
<a href="/all_users">Find Other Users!</a>
<div class="favorites"></div>